spring:
  config:
    activate:
      on-profile: prod

  datasource:
    url: jdbc:postgresql://ep-aged-boat-a81zd4jw-pooler.eastus2.azure.neon.tech/neondb?sslmode=require
    username: neondb_owner
    password: npg_sGEWyJo10cbR
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
    show-sql: false

  flyway:
    enabled: true
    baseline-on-migrate: true

jwt:
  secret: grocery-store-secure-jwt-secret-key-2024-change-me
  expiration: 86400000

server:
  port: ${PORT:8080}
